:root {
    /* Cores principais */
  --cor-primaria: #6528d3;     /* Cor principal da marca */
  --cor-secundaria: #111111;   /* Cor secundária */
  
  /* Cores neutras */
  --cor-neutra-clara: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-secundaria);;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    /* usar ia pra explicar de novo */
    grid-template-areas: 
        "header"
        "main"
        "footer";
}