:root {
    /* Cores principais */
  --cor-primaria: #6528d3;     /* Cor principal da marca */
  --cor-primaria-hover: #834de8;
  
  /* Cores neutras */
  --cor-neutra-clara: #ffffff;
  --cor-neutra-escura: #111111;
  --cor-cinza-escura: #29272a;
  --cor-cinza-clara: #ededed;
  --cor-roxa-clara: #bca2ed;
  --cor-cinza: #828282;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    /* usar ia pra explicar de novo */
    grid-template-areas: 
        "header"
        "main"
        "footer";
}