.cabecalho {
  grid-area: header;
  padding: 30px 0;
}

.header-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.header-esquerda {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  width: 24px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-hamburguer span {
  display: block;
  height: 4px;
  width: 100%;
  background: var(--cor-neutra-clara);
  border-radius: 2px;
}

.cabecalho .menu-principal {
  background-color: var(--cor-neutra-escura);
  display: none;
  position: absolute;
  width: 100%;
  top: 5rem;
  left: 0;
  padding: 1rem;
}

.cabecalho .menu-principal ul {
  padding: 1rem 0;
}

.cabecalho .menu-principal ul li {
  margin-top: 1.5rem;
}

.cabecalho .menu-principal ul li a {
  color: var(--cor-neutra-clara);
  letter-spacing: 0.1rem;
  transition: background-color 0.3s;
  padding: 0.75rem 1rem;
}

.cabecalho .menu-principal ul li a:hover {
  background-color: var(--cor-primaria);
}

.cabecalho.menu-ativo .menu-principal {
  display: block;
}

.botao-carrinho {
  background-color: transparent;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.botao-carrinho img {
  width: 26px;
  height: 26px;
}

.botao-carrinho span {
  background-color: var(--cor-primaria);
  color: var(--cor-neutra-clara);
  font-weight: bold;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  position: absolute;
  top: 27px;
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 940px) {
  
  .cabecalho .menu-principal {
    display: block;
    position: static;
    width: auto;
  }

  .menu-hamburguer {
    display: none;
  }

  .cabecalho .menu-principal ul {
    display: flex;
    flex-direction: row;
  }
}

@media(min-width: 1170px) {
  .cabecalho {
    min-width: 1170px;
    margin: 0 auto;
  }
}
